@model IEnumerable<Tipo_Datos.Models.Entidades.ClientesModel>
@{
    ViewData["Title"] = "Ventas - Lista de Clientes";
    //crear clientes el fondo es azul
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Clientes</h1>
<p>
    <a asp-action="Nuevo" class="btn btn-primary">Crear Cliente</a>
</p>

<table class="table table-responsive table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nombre Cliente</th>
            <th>RUC</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@Html.DisplayFor(modelItem => item.Nombres)</td>
                <td>@Html.DisplayFor(modelItem => item.Cedula_RUC)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a asp-action="Editar" class="btn btn-outline-success" asp-route-id="@item.Id">Editar</a>
                  
                        <a asp-action="Eliminar" class="btn btn-outline-danger" asp-route-id="@item.Id">Eliminar</a>
                 
                </td>
            </tr>
        }
    </tbody>
</table>
